In [1]:
row=1
while(row<5):
    col=1
    while(col<=row):
        print("*",end=" ")
        col+=1
    print()
    row+=1

*
* *
* * *
* * * *

In [10]:
n=int(input())
space=n-1
row=1
while(row<n):
    s=1
    while(s<=space):
         print(" ",end=" ")
         s+=1
    col=1
    while(col<=row):
        print("* ",end=" ")
        col+=1
    print( )
    row+=1
    space-=1

 6

          *
        *  *
      *  *  *
    *  *  *  *
  *  *  *  *  *

In [16]:

def IsPrime(n):
    for i in range(2,n):
        if(n%i==0):
            return False
    return True

n=int(input("Enter a num"))
if(IsPrime(n)):
    print("Prime")
else:
    print("Not Prime")

Enter a num 9

Not Prime

In [17]:
n=input()
match(n):
    case "A":
        print("sec a")
    case "B":
        print("SEC B")
    case _:
        print("sec c")

 a

sec c

In [1]:
num=int(input())
n=num
c=0
while(n>0):
    c+=1
    n//=10
print(c)

 256789

6

In [1]:
N1=int(input())
N2=int(input())
HCF=0
start=1
i=0
if(N1<N2):
    i=N1
else: 
    i =N2
while(start<=i):
    if(N1%start==0 and N2%start==0):
        HCF=start
    start+=1
print(HCF)

 25
 15

5

In [2]:
n1=int(input())
n2=int(input())
lcm=1
start=2

 ur

ValueError: invalid literal for int() with base 10: 'ur'

In [4]:
s="hello world"
print(s[6],s[-5])
for i in s:
    print(i)

w w
h
e
l
l
o

w
o
r
l
d

In [10]:
#multiple string
"""hey,
how are you
"""
'''hbh
juubyvb
'''

'hbh\njuubyvb\n'

In [12]:
s="hello world"
print(s[6],s[-5])
for i in s[6:11:1]: #starting index is imp,end-default=last-index, step :default-1 
    print(i)

w w
w
o
r
l
d

In [13]:
s="hello world"
print(s[-3:-9:-1])

row ol

In [15]:
s="hello world"
print(s[8:2:-1])

row ol

In [22]:
p=input()
p1=p[-1: :-1]
if(p==p1):
    print("palindrome")
else:
    print("not palindrome")

 abcba

palindrome

In [25]:
p=input()
l=len(p)>8
c,s,d=False,False,False
for i in p:
    if(ord(i)>=97 and ord(i)<=122):
        s=True
    elif(ord(i)>=65 and ord(i)<=90):
        c=True
    elif(ord(i)>=48 and ord(i)<=57):
        d=True
if(l and c and d):
    print("valid password")
else:
    print("not valid password")

 Utk@rsh0907

valid password

In [45]:
s="__hello$world_of_coding__"
s1=s.strip("_")
print (s1)
s2=s1.replace("$"," ")
print(s2)
s3=s2.replace("_"," ").split()
s3=[i.capitalize()if (i!="of")else i for i in s3 ]
print(" ".join(s3))

hello$world_of_coding
hello world_of_coding
Hello World of Coding

In [46]:
##List comprehension1

l=[1,2,3,4,5]
#nl=[]
#for i in l:
##   nl.append(i**2)

n1=[i**2 for i in l]
print(n1)

[1, 4, 9, 16, 25]

In [49]:
##list comprehention type 3



l=[2,3,4,5,6,7,8,9,10]

nl=[i for i in l if(i%2==0)] 
print(nl)

[2, 4, 6, 8, 10]

In [54]:
##list comprehention 3 

l=[1,2,3,4,5]
# n1=[]
# for i in l:
#     if(i%2==0):
#         nl.append(i**2)
#     else:
#         nl.append(i)


nl=[i**2 if(i%2==0)else i for i in l]
print(nl)

[1, 4, 3, 16, 5]

In [59]:
l=[2,5,8,0,5,11,18]
l.append(1111)
l.insert(0,12)
print(l)
l.pop(0)
print(l)
l.remove(0)
print("after remove 0",l)

[12, 2, 5, 8, 0, 5, 11, 18, 1111]
[2, 5, 8, 0, 5, 11, 18, 1111]
after remove 0 [2, 5, 8, 5, 11, 18, 1111]

In [60]:
ls=[12,33,64,75,87]
list(map(lambda x:x+5,ls))

[17, 38, 69, 80, 92]

In [61]:
def my_fun(n):
    return n%2==0
ls=[11,19,15,12]
en=list(filter(my_fun,ls))
print (en)

[12]

In [63]:
ls=[("ram",19),("shyam",21),("rohan",16),("sohan",25)]
en=list(filter(lambda t: t[1]%2==0,ls))
print(en)

[('rohan', 16)]

In [65]:
#enumurate funtion
ls=[("ram",19),("shyam",21),("rohan",16),("sohan",25)]
for idx,val in enumerate(ls):
    print(idx,val)

0 ('ram', 19)
1 ('shyam', 21)
2 ('rohan', 16)
3 ('sohan', 25)

In [68]:
#zip funtion
name=["shyam","ram","rohan","sohan","sita"]
age=[19,21,30,24,16]
data={}
for nam,ag in zip(name,age):
    print(nam,ag)
    data[nam]=ag
print(data)

shyam 19
ram 21
rohan 30
sohan 24
sita 16
{'shyam': 19, 'ram': 21, 'rohan': 30, 'sohan': 24, 'sita': 16}

In [87]:
##2D list

mat=[[1,2,3],
     [5,6,7],
     [11,12,13,14]]
for ls in mat:
    print()
    for i in ls: 
        print(i,end=" ")

1 2 3
5 6 7
11 12 13 14

In [88]:
def addToList(listcontainer):
    listcontainer+=[10]
mylistContainer=[10,20,30,40]
addToList(mylistContainer)
print(len(mylistContainer))

5

In [3]:
s="code practice quiz geeks"
ns=""
for st in s.split():
    ns+=st[-1::-1]+" "
print(ns)

edoc ecitcarp ziuq skeeg

In [9]:
s="code practice quiz geeks"
ns=""
ns=" ".join(list(map(lambda st: st[-1::-1],s.split())))
print(ns)

edoc ecitcarp ziuq skeeg

#OOPS Object Oriented Programming

In [13]:
class Car():
    wheel=4
    window=5
    def __init__(self,model):#constructor
        self.model=model#instance variable
    def milage(self,n,unit):#method
        print("avg of {2} is {0}{1}".format(n,unit,self.model))
suzuki=Car("marti800")
suzuki.milage(20,"km")


Car.wheel ##class variable
suzuki.model
suzuki.wheel

avg of marti800 is 20km

4

pillers of oops

POLYMORPHISM

In [17]:
 class Multi():
     def __init__(self,a,b,c=1):
         self.a=a
         self.b=b
         self.c=c
     def mul(self):
         return self.a*self.b*self.c
 class Math(Multi):
     def __init__(self,a,b,c):
         Multi.__init__(self,a,b,c)
     def mul(self):    
         print("mul 3 num ",self.a*self.b*self.c)
     
 multiii=Multi(2,3)
 print (multiii.mul())
 multii=Multi(4,6,7)
 print (multii.mul())
 m=Math(5,3,20)
 print ( m.mul())

6
168
mul 3 num  300
None

Abstract Class

In [2]:
from abc import ABC, abstractmethod
class Multiply(ABC):
    @abstractmethod
    def mul(self):
        pass
class Math(Multiply):
    def __init__(self,a,b):
        self.a=a
        self.b=b
    def mul(self):
        print("Multiplication of a n b is",self.a*self.b)
m=Math(2,5)
m.mul()

Multiplication of a n b is 10

Try & Exception

In [4]:
try:
    d={"user":1234,"pass":"@123"}
    d["users"]
except KeyError:
    print("key not found")

key not found